<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spizer.mizer2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="Mizer"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".start.MainActivity"
            android:label="Mizer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".start.SessionMenuActivity"
            android:label="Mizer"
            android:parentActivityName=".start.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start.MainActivity" />
        </activity>
        <activity
            android:name=".Basics.DifficultyMenu"
            android:label="Mizer"
            android:parentActivityName=".Basics.ProblemSelector" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start.MainActivity" />
        </activity>
        <activity
            android:name=".otherclasses.NotWorking"
            android:label="Mizer"
            android:parentActivityName=".start.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start.MainActivity" />
        </activity>
        <activity
            android:name=".Basics.ProblemSelector"
            android:label="Mizer"
            android:parentActivityName=".start.MathProblemSelector" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start.MainActivity" />
        </activity>
        <activity
            android:name=".Basics.BasicsPractice"
            android:label="@string/title_activity_basics_practice"
            android:parentActivityName=".Basics.DifficultyMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start.MainActivity" />
        </activity>
        <activity
            android:name=".start.MathProblemSelector"
            android:label="@string/title_activity_math_problem_selector"
            android:parentActivityName=".start.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start.SessionMenuActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
